certifi==2025.4.26 ; python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
contourpy==1.3.2 ; python_version >= "3.12"
cycler==0.12.1 ; python_version >= "3.12"
fonttools==4.58.1 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
joblib==1.5.1 ; python_version >= "3.12"
kiwisolver==1.4.8 ; python_version >= "3.12"
matplotlib==3.10.3 ; python_version >= "3.12"
numpy==2.2.6 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.2.3 ; python_version >= "3.12"
patsy==1.0.1 ; python_version >= "3.12"
pillow==11.2.1 ; python_version >= "3.12"
pyopenms==3.4.0 ; python_version >= "3.12"
pyparsing==3.2.3 ; python_version >= "3.12"
pyqt5-qt5==5.15.17 ; python_version >= "3.12"
pyqt5-sip==12.17.0 ; python_version >= "3.12"
pyqt5==5.15.11 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
scikit-learn==1.6.1 ; python_version >= "3.12"
scipy==1.15.3 ; python_version >= "3.12"
seaborn==0.13.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
statsmodels==0.14.4 ; python_version >= "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.4.0 ; python_version >= "3.12"
xdialog==1.2.0.1 ; python_version >= "3.12"
