<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body hx-boost="true">
    {% include 'navbar.html' %}

    <!-- Toast Notification-->
    <div id="toast-container" class="position-fixed top-0.1 end-0 p-3" style="z-index: 1100"></div>

    {% include 'sidebar.html' %}

    <!-- Modified main content wrapper -->
    <div class="main-content" id="mainContent">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
        {% include 'scripts.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>
